{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "react",
        "import"
    ],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript",
        "plugin:react/recommended"
    ],
    "ignorePatterns": [
        "**/interfaces.ts"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "quotes": "off",
        "semi": "off",
        "no-console": "warn",
        "no-debugger": "warn",
        "react/jsx-key": "warn",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/prefer-namespace-keyword": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-empty-function": "warn",
        "@typescript-eslint/no-empty-interface": "warn",
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/explicit-module-boundary": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/quotes": "error",
        "@typescript-eslint/camelcase": "off",
        "import/no-unresolved": "error",
        "object-curly-spacing": [
            "error",
            "never"
        ],
        "@typescript-eslint/member-delimiter-style": [
            "error",
            {
                "multiline": {
                    "delimiter": "semi",
                    "requireLast": true
                },
                "singleline": {
                    "delimiter": "semi",
                    "requireLast": false
                }
            }
        ],
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "ignoreRestSiblings": true,
                "argsIgnorePattern": "^_",
                "varsIgnorePattern": "^_"
            }
        ],
        "@typescript-eslint/semi": [
            "error",
            "always"
        ],
        "max-len": [
            2,
            120
        ],
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "exports": "always-multiline",
                "functions": "always-multiline"
            }
        ],
        "react/prop-types": "off",
        "react/display-name": "off"
    }
}
